parameters:
    level: 5
    paths:
        - src
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        # Contao-Magie: ContentElement/Model/DataContainer greifen Felder ueber __get/__set ab.
        - '#Access to an undefined property#'
